<!--Crib this markup from the simplified Location show view
<blockquote class="hero-unit">
  <div>
    <h3><%= @location.name %></h3>
    <small>
      <%= image_tag(@location.image_url) %>
    </small>
    </div>-->

 
<!--Only display the latest wait if there are waits...-->

<% if @location.waits.count > 0 %>
  <ul>
  <% @location.waits.each do |wait| %>
    <li class="well">
      <div>
        <%= wait.duration %><p>minutes</p>Posted <%= wait.my_time %>
      </div>
      <!--<%= link_to 'Destroy', location_wait_path(@location,wait), method: :delete, data: { confirm: 'Are you sure?' } %>-->
    </li>
  </ul>
<% end %>

<% else %>
<h2>There are no current wait times for this location</h2>
<% end %>
</blockquote>

<!--Display the form for a new wait for registered members; otherwise provide sign up and sign in links for anonymous users-->
<% if member_signed_in? %>
  <h2>Have a new wait time for this location? Enter it here.</h2>
  <%= render 'form' %>
<% else %>
  <h2><%= link_to "Sign up", new_member_registration_path %> or <%= link_to "sign in", new_member_session_path %> to update this location's wait time!</h2>
<% end %>
  <!--<p><%= link_to 'See all locations', locations_path %></p>-->
