<!--Crib this markup from the simplified Location show view-->
<blockquote class="hero-unit">
  <div>
    <h3><%= @location.name %></h3>
    <small>
      <%= @location.description %>
    </small>
  </div>
</blockquote>

<!--Only display the comments list if there are comments...-->

<% if @location.waits.count > 0 %>
  <ul>
  <% @location.waits.each do |wait| %>
    <li class="well">
      <div>
        <%= wait.duration %>
      </div>
      <%= link_to 'Destroy', location_wait_path(@location,wait), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  </ul>
<% end %>
<% end %>
<!--...but always display the form for a new wait.-->

<h2>Have a new wait time for this location? Enter it here.</h2>

<%= render 'form' %>

<p><%= link_to 'See all locations', locations_path %></p>
