<!--This view is rendered for the welcome action on the Pages controller-->
<body>
<header>
</header>
<div class="container">
<div class="nlnw-banner">
<%= image_tag("nlnw-logo.gif") %>
</div>
<ul class="thumbnails">
  <li class="span4">
   <a href="locations/museum/list" class="thumbnail">
    <%= image_tag("museum.jpg", size: "300x200") %>
    <h3>Museums</h3>
    <p>Thumbnail caption...</p>
    </a>
  </li>
   <li class="span4">
    <a href="locations/restaurant/list" class="thumbnail">
    <%= image_tag("restaurant.jpg", size: "300x200") %>
    <h3>Restaurants</h3>
    <p>Thumbnail caption...</p>
    </a>
  </li>
<li class="span4">
    <a href="locations/club/list" class="thumbnail">
    <%= image_tag("club.jpg", size: "300x200") %>
    <h3>Clubs</h3>
    <p>Thumbnail caption...</p>
    </a>
  </li>
<li class="span4">
    <a href="locations/bar/list" class="thumbnail">
    <%= image_tag("bar.jpg", size: "300x200") %>
    <h3>Bars</h3>
    <p>Thumbnail caption...</p>
    </a>
  </li>
<li class="span4">
    <a href="locations/event/list" class="thumbnail">
    <%= image_tag("event.jpg", size: "300x200") %>
    <h3>Events</h3>
    <p>Thumbnail caption...</p>
    </a>
  </li>

</ul>
 <!--<div class="span4"><%= link_to 'All Locations', locations_path %></div>-->
</div>  
</body>
