<!DOCTYPE html>
<html>
<head>
  <title>No Line No Wait Chicago</title>
  <meta charset="utf-8">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
</head>
<body>

<div class="container-fluid">
<div class="nlnw-banner"><%= link_to(image_tag("nlnw-banner-fluid.gif"), root_url) %></div>
    <div class="navbar">
    <div class="navbar-inner">
    <a class="brand" href="#">Title</a>
    <ul class="nav">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">Link</a></li>
    <!--"Karl, the link below is what I was talking about in class. How do I write it so that it goes locations/museum/list"?-->
    <li><%= link_to "Museums", locations_path %></li>
    <form class="navbar-search pull-left">
    <input type="text" class="search-query" placeholder="Search">
    </form>
    </ul>
    </div>
    </div>

<%= yield %>

<div class ="footer">
<p>This is the footer</p>
</div>
</div>
</body>
</html>
