<!DOCTYPE html>
<html>
<head>
  <title>No Line No Wait Chicago</title>
  <meta charset="utf-8">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="navbar">
    <div class="navbar-inner">
      <li class="brand"><%= link_to "No Line No Wait Chicago", root_url %></li>
      <ul class="nav">
        <li><a href="locations/museum/list">Museums</a></li>
        <li><a href="locations/club/list">Clubs</a></li>
        <li><a href="locations/bar/list">Bars</a></li>
        <li><a href="locations/restaurant/list">Restaurants</a></li>
        <li><a href="locations/event/list">Events</a></li>
        <li><form class="form-search"><input type="text" class="input-medium search-query" placeholder="Where are you going?"><button type="submit" class="btn">Search</button></form></li> 
      </ul>
    </div>
  </div>
</div>
<%= yield %>

</div>
</body>
</html>
